.jumbotron {
  padding-top: 6rem;
  background-color: #79a4ce;
}

#contact {
  background-color: #79a4ce;
}
#education {
  background-color: #79a4ce;
}
section {
  padding-top: 6rem;
}
#about {
  background-color: #8b94a1;
}
#projects {
  background-color: #8b94a1;
}
